In [1]:
#import the libraries
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import os
import datetime
from scipy import stats

In [408]:
#load the csv files
edt = pd.read_csv('/Users/lawhea1214/Documents/WGU/599_Data/task1/data/Employee Turnover Dataset.csv')

In [287]:
#verify the data loaded correctly
edt.head()

,EmployeeNumber,Age,Tenure,Turnover,HourlyRate,HoursWeekly,CompensationType,AnnualSalary,DrivingCommuterDistance,JobRoleArea,Gender,MaritalStatus,NumCompaniesPreviouslyWorked,AnnualProfessionalDevHrs,PaycheckMethod,TextMessageOptIn
0,1,28,6,Yes,$24.37,40,Salary,50689.6,89,Research,Female,Married,3.0,7.0,Mail Check,Yes
1,2,33,2,Yes,$24.37,40,Salary,50689.6,89,Research,Female,Married,6.0,7.0,Mail Check,Yes
2,3,22,1,No,$22.52,40,Salary,46841.6,35,Information_Technology,Female,Single,1.0,8.0,Mailed Check,Yes
3,4,23,1,No,$22.52,40,Salary,46841.6,35,Information_Technology,Female,Single,3.0,NaN,Mailed Check,Yes
4,5,40,6,No,$88.77,40,Salary,284641.6,12,Sales,Prefer Not to Answer,Single,7.0,NaN,Mail Check,Yes

In [289]:
#explore the columns, nulls, and dtypes
edt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10199 entries, 0 to 10198
Data columns (total 16 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   EmployeeNumber                10199 non-null  int64
 1   Age                           10199 non-null  int64
 2   Tenure                        10199 non-null  int64
 3   Turnover                      10199 non-null  object
 4   HourlyRate                    10199 non-null  object
 5   HoursWeekly                   10199 non-null  int64
 6   CompensationType              10199 non-null  object
 7   AnnualSalary                  10199 non-null  float64
 8   DrivingCommuterDistance       10199 non-null  int64
 9   JobRoleArea                   10199 non-null  object
 10  Gender                        10199 non-null  object
 11  MaritalStatus                 10199 non-null  object
 12  NumCompaniesPreviouslyWorked  9534 non-null   float64
 13  AnnualProfessionalDevHrs      8230 non-null   float64
 14  PaycheckMethod                10199 non-null  object
 15  TextMessageOptIn              7933 non-null   object
dtypes: float64(3), int64(5), object(8)
memory usage: 1.2+ MB

In [291]:
#obtain the shape of the data
edt.shape

(10199, 16)

In [293]:
#explore the dataframes mean, count, standard deviation, and quartiles
edt.describe()

,EmployeeNumber,Age,Tenure,HoursWeekly,AnnualSalary,DrivingCommuterDistance,NumCompaniesPreviouslyWorked,AnnualProfessionalDevHrs
count,10199.000000,10199.000000,10199.000000,10199.0,10199.000000,10199.000000,9534.000000,8230.000000
mean,5001.960977,44.028826,8.992744,40.0,120947.568526,45.411903,4.214810,14.938518
std,2942.709195,10.217864,5.511985,0.0,77566.715759,54.011750,2.481994,6.087415
min,1.000000,21.000000,1.000000,40.0,-33326.400000,-275.000000,1.000000,5.000000
25%,2451.500000,37.000000,5.000000,40.0,63252.800000,13.000000,2.000000,10.000000
50%,5001.000000,44.000000,8.000000,40.0,101566.400000,42.000000,4.000000,15.000000
75%,7550.500000,53.000000,13.000000,40.0,153878.400000,71.000000,6.000000,20.000000
max,10100.000000,61.000000,20.000000,40.0,339950.400000,950.000000,9.000000,25.000000

In [295]:
#check for duplicates
edt.duplicated().sum()

99

In [297]:
#drop duplicates
edt.drop_duplicates(inplace=True)

In [299]:
#verify all duplicates dropped
edt.duplicated().any()

False

In [301]:
#remove trailing white spaces from the column names. 
edt.columns = edt.columns.str.strip()

In [303]:
#verify white spaces removed
edt.columns

Index(['EmployeeNumber', 'Age', 'Tenure', 'Turnover', 'HourlyRate',
       'HoursWeekly', 'CompensationType', 'AnnualSalary',
       'DrivingCommuterDistance', 'JobRoleArea', 'Gender', 'MaritalStatus',
       'NumCompaniesPreviouslyWorked', 'AnnualProfessionalDevHrs',
       'PaycheckMethod', 'TextMessageOptIn'],
      dtype='object')

In [305]:
#remove the trailing white spaces from the data rows
for col in edt.columns:
    if edt[col].dtype == "object":
        edt[col] = edt[col].str.strip()

In [307]:
#convert the HourlyRate and HoursWeekly columns to floats and integers
columns = ["HourlyRate", "HoursWeekly"]

for col in columns:
    if edt[col].dtype == "object":
        edt[col] =edt[col].str.replace("$","", regex=False).str.strip()
        edt[col] = edt[col].astype("float")

In [309]:
#verify HourlyRate and HoursWeekly are floats and integers
edt.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10100 entries, 0 to 10099
Data columns (total 16 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   EmployeeNumber                10100 non-null  int64
 1   Age                           10100 non-null  int64
 2   Tenure                        10100 non-null  int64
 3   Turnover                      10100 non-null  object
 4   HourlyRate                    10100 non-null  float64
 5   HoursWeekly                   10100 non-null  int64
 6   CompensationType              10100 non-null  object
 7   AnnualSalary                  10100 non-null  float64
 8   DrivingCommuterDistance       10100 non-null  int64
 9   JobRoleArea                   10100 non-null  object
 10  Gender                        10100 non-null  object
 11  MaritalStatus                 10100 non-null  object
 12  NumCompaniesPreviouslyWorked  9437 non-null   float64
 13  AnnualProfessionalDevHrs      8153 non-null   float64
 14  PaycheckMethod                10100 non-null  object
 15  TextMessageOptIn              7842 non-null   object
dtypes: float64(4), int64(5), object(7)
memory usage: 1.3+ MB

In [311]:
#checking for nan values
edt.isna().any()

EmployeeNumber                  False
Age                             False
Tenure                          False
Turnover                        False
HourlyRate                      False
HoursWeekly                     False
CompensationType                False
AnnualSalary                    False
DrivingCommuterDistance         False
JobRoleArea                     False
Gender                          False
MaritalStatus                   False
NumCompaniesPreviouslyWorked     True
AnnualProfessionalDevHrs         True
PaycheckMethod                  False
TextMessageOptIn                 True
dtype: bool

In [313]:
#checking for the unique values in each column
edt.nunique()

EmployeeNumber                  10100
Age                                41
Tenure                             20
Turnover                            2
HourlyRate                       5244
HoursWeekly                         1
CompensationType                    1
AnnualSalary                     5538
DrivingCommuterDistance           120
JobRoleArea                        12
Gender                              3
MaritalStatus                       3
NumCompaniesPreviouslyWorked        9
AnnualProfessionalDevHrs           21
PaycheckMethod                      7
TextMessageOptIn                    2
dtype: int64

In [357]:
#printing out each column to explore the unique values for inconsistencies
print('Job Role')
print(edt['JobRoleArea'].value_counts())
print()
print('Gender')
print(edt['Gender'].value_counts())
print()
print('Marital Status')
print(edt['MaritalStatus'].value_counts())
print()
print('Paycheck Method')
print(edt['PaycheckMethod'].value_counts())

Job Role
JobRoleArea
Research                  2005
Sales                     1988
Human Resources           1117
Marketing                 1093
Manufacturing             1031
Laboratory                1007
Healthcare                1002
Information Technology     857
Name: count, dtype: int64

Gender
Gender
Female                  5756
Male                    4208
Prefer Not to Answer     136
Name: count, dtype: int64

Marital Status
MaritalStatus
Married     3405
Single      3387
Divorced    3308
Name: count, dtype: int64

Paycheck Method
PaycheckMethod
Mail Check        4917
Mailed Check      2425
DirectDeposit      988
Direct_Deposit     948
Mail_Check         547
Direct Deposit     226
MailedCheck         49
Name: count, dtype: int64

In [369]:
edt['PaycheckMethod'].unique()

array(['Mail Check', 'Mailed Check', 'Direct_Deposit', 'DirectDeposit',
       'Direct Deposit', 'Mail_Check', 'MailedCheck'], dtype=object)

In [377]:
df_col = edt['PaycheckMethod']
cor_col = 'PaycheckMethod'
lst = ['Mail Check',
       'Direct Deposit']
val = "Direct Deposit"
inconsistencies(edt, df_col, cor_col,lst,val)

In [379]:
def inconsistencies(df, df_col, col, lst, val):
    for idx, row in df_col.items():
        if row not in lst:
            df.at[idx, col] = val

In [381]:
print(edt['PaycheckMethod'].value_counts())
print()
print(edt['JobRoleArea'].value_counts())

PaycheckMethod
Mail Check        7938
Direct Deposit    2162
Name: count, dtype: int64

JobRoleArea
Research                  2005
Sales                     1988
Human Resources           1117
Marketing                 1093
Manufacturing             1031
Laboratory                1007
Healthcare                1002
Information Technology     857
Name: count, dtype: int64

In [383]:
#check for null values
edt.isnull().sum()

EmployeeNumber                     0
Age                                0
Tenure                             0
Turnover                           0
HourlyRate                         0
HoursWeekly                        0
CompensationType                   0
AnnualSalary                       0
DrivingCommuterDistance            0
JobRoleArea                        0
Gender                             0
MaritalStatus                      0
NumCompaniesPreviouslyWorked       0
AnnualProfessionalDevHrs           0
PaycheckMethod                     0
TextMessageOptIn                2258
dtype: int64

In [385]:
#calculate the mean values for the numeric columns with null values
edt_mean = edt[["NumCompaniesPreviouslyWorked","AnnualProfessionalDevHrs"]].mean(numeric_only=True)
edt_mean

NumCompaniesPreviouslyWorked     4.219985
AnnualProfessionalDevHrs        14.943579
dtype: float64

In [387]:
#replace the null values with the mean data for the columns
edt["NumCompaniesPreviouslyWorked"] = edt["NumCompaniesPreviouslyWorked"].fillna(edt_mean.iloc[0])
edt["AnnualProfessionalDevHrs"] = edt["AnnualProfessionalDevHrs"].fillna(edt_mean.iloc[1])

In [389]:
#check for null values
edt.isnull().sum()

EmployeeNumber                     0
Age                                0
Tenure                             0
Turnover                           0
HourlyRate                         0
HoursWeekly                        0
CompensationType                   0
AnnualSalary                       0
DrivingCommuterDistance            0
JobRoleArea                        0
Gender                             0
MaritalStatus                      0
NumCompaniesPreviouslyWorked       0
AnnualProfessionalDevHrs           0
PaycheckMethod                     0
TextMessageOptIn                2258
dtype: int64

In [391]:
#use IQR to eliminate outliers and inconsistent data from the DrivingCommuterDistance column
dcd_q1 = edt["DrivingCommuterDistance"].quantile(.25)
dcd_q3 = edt["DrivingCommuterDistance"].quantile(.75)
upper_bound = dcd_q3 + (dcd_q3*1.5)
lower_bound = (dcd_q1*1.5) - dcd_q1

edt["DrivingCommuterDistance"] = edt["DrivingCommuterDistance"].where(
 (edt["DrivingCommuterDistance"] >= lower_bound) & (edt["DrivingCommuterDistance"] <= upper_bound), np.nan
)

In [393]:
#verify it worked
edt["DrivingCommuterDistance"].describe()

count    9154.000000
mean       57.736699
std        19.996930
min        20.000000
25%        43.000000
50%        57.736699
75%        71.000000
max       125.000000
Name: DrivingCommuterDistance, dtype: float64

In [395]:
#use IQR to eliminate outliers and inconsistent data from the AnnualSalary column
as_q1 = edt["AnnualSalary"].quantile(.25)
as_q3 = edt["AnnualSalary"].quantile(.75)
ub = as_q3 + (as_q3*1.5)
lb = (as_q1*1.5) - as_q1

edt["AnnualSalary"] = edt["AnnualSalary"].where(
    (edt["AnnualSalary"] >= lb) & (edt["AnnualSalary"] <= ub), np.nan
)

In [397]:
#verify it worked
edt["AnnualSalary"].describe()

count      9997.000000
mean     122304.359668
std       76660.161694
min       36067.200000
25%       64064.000000
50%      102897.600000
75%      154294.400000
max      339950.400000
Name: AnnualSalary, dtype: float64

In [399]:
#calculate the mean values for the numeric columns with null values
edt_mean2 = edt[["DrivingCommuterDistance","AnnualSalary"]].mean(numeric_only=True)
edt_mean2

DrivingCommuterDistance        57.736699
AnnualSalary               122304.359668
dtype: float64

In [401]:
edt["AnnualSalary"] = edt["AnnualSalary"].fillna(edt_mean2.iloc[1])
edt["DrivingCommuterDistance"] = edt["DrivingCommuterDistance"].fillna(edt_mean2.iloc[0])

In [403]:
edt.isnull().any()

EmployeeNumber                  False
Age                             False
Tenure                          False
Turnover                        False
HourlyRate                      False
HoursWeekly                     False
CompensationType                False
AnnualSalary                    False
DrivingCommuterDistance         False
JobRoleArea                     False
Gender                          False
MaritalStatus                   False
NumCompaniesPreviouslyWorked    False
AnnualProfessionalDevHrs        False
PaycheckMethod                  False
TextMessageOptIn                 True
dtype: bool

In [405]:
#create the filepath to save the cleaned data
today = datetime.date.today()
file_path = "/Users/lawhea1214/Documents/WGU/599_Data/task1/data"
file_name = "cleaned-employee-turnover-dataset"
version = "v2"
file_type = "csv"
full_path = f"{file_name}_{today}_{version}.{file_type}"
create_path = os.path.join(file_path, full_path)
try:
    os.makedirs(file_path, exist_ok=True)
    edt.to_csv(create_path, index=False)
    print(f"{file_name} successfully saved")
except Exception as e:
    print("File failed to create:", e)

cleaned-employee-turnover-dataset successfully saved